.header-right {
  display: flex;
  justify-content: flex-end;
}

.header-container {
  width: 80%;
  margin: 0 auto;
}

.selected {
  border-bottom: 4px solid black;
  padding-bottom: 18px;
  font-weight: bolder;
}

.header-category {
  margin-right: 38px;
}

.header-top {
  padding-top: 30px;
}

.content-container {
  /* padding-top: 80px; */
  /* 다른 스타일링 */
}

.hr-line {
  position: absolute;
  left: 0;
  right: 0;
  border-top: 1px solid black;
}
