/* Q&A 페이지 스타일 */
.qna-page {
  background-color: #f7f7f7;
  padding: 20px;
  width: 70%;
  margin: 0 auto;
}

/* Q&A 목록 스타일 */

.qnaLogo {
  text-align: center;
  font-size: 38px;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}

.qna-list {
  list-style-type: none;
  padding: 0;
}

.qna-item {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  padding: 10px;
  margin-bottom: 10px;
}

.qna-item-title {
  font-size: 18px;
  font-weight: bold;
  color: #333333;
}

.qna-item-date,
.qna-item-author {
  color: #999999;
  padding-right: 15px;
  float: right;
}

/* 버튼 스타일 */
.button {
  display: inline-block;
  background-color: #ff99cc;
  color: #ffffff;
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  margin-right: 10px;
}

.button:hover {
  background-color: #ff66a3;
}

/* 글쓰기 버튼 스타일 */
.write-button {
  background-color: #ff99cc;
  color: #ffffff;
  float: right;
}

.write-button:hover {
  background-color: #ff66a3;
}
